body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.navbar {
    background-color: #003366;
    padding: 10px;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    position: relative;
    margin-right: 20px;
    
}

.nav-link {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block; 
}
 
.nav-link:hover, .nav-link:focus, .nav-link:active {
    background-color: #002244;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 200px;
    padding: 10px 0;
    list-style: none;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.nav-item:hover .dropdown-menu,
.nav-item:focus-within .dropdown-menu,
.nav-item:active .dropdown-menu {
    display: block;
}
